# Python
__pycache__/
*.py[cod]
*.sqlite3

# Environment
.env
venv/
ENV/
env/
*.egg-info/

# Django specific
db.sqlite3
*.log

# VS Code and other editors
.vscode/
.idea/

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd
.Python

# Sphinx build
docs/_build/

# Pytest
.cache/
